<?xml version="1.0" ?>

<launch>

<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  
   <node name="image_proc" pkg="image_proc" type="image_proc" ns="usb_cam"/>
   
   <node name="aruco" pkg="aruco_py" type="aruco.py" output="screen"/>
 
 <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0.1 0.2 -0.6532815, 0.6532815, -0.2705981, 0.2705981   world cam" />
</launch>
