<?xml version="1.0"?>
 <launch>

    <param name = "joy_node/dev"     value = "/dev/input/js0"/>

     <!-- Turtlesim Node-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    
   <node pkg="joy" type="joy_node" name="jn"/>
   
         
    <node pkg="joy_pi" type="joy_turtle" name="joy"/>
   
  </launch>
