<?xml version="1.0" ?>
<launch>    
    <node pkg="tf2_ros" type="static_transform_publisher" name="world_broadcaster" args="0.556 -0.9132 0.8266 0 0.59 2.15 map camera_link_optical" />     
     
    <!-- Show in Rviz   -->   
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_sensors_tutorial)/config/camera_coke2.rviz"/> 
</launch>

