<?xml version="1.0"?>
<launch>
  <!-- required param for the state publisher -->
  <param name="robot_description" textfile="$(find mastering_robot_description)/urdf/seven_dof_arm.urdf" /> 

<!-- automatic tf publisher from urdf file -->
<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
 <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
<!-- 3D model spawner -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

<!--<node name="mastering_robot_description" pkg="mastering_robot_description" type="robot_description" />-->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mastering_robot_description)/rviz/pan_tilt.rviz" required="true" /> 
</launch>

